<!DOCTYPE html>
<html>
<body>
<h1>Play with?</h1>
<h2>Be careful with the toy, they're dangerous!</h2>

<form action="/playground" method="post">
    <label for="game">Choose a game:</label>
    <select name="games" id="game">
        <option value="sl">The long long train</option>
        <option value="asciiquarium">The lonely golden fish</option>
        <option value="htop">top top Htop</option>
        <option value="anything">anything</option>
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
