# ignore books, and large files
*.mobi
*.pdf
*.doc
*.docx

# ignore directory
Documents/Ebooks/

# ignore Linux source code
System/Linux/Kernel/linux
System/Linux/Kernel/vmlinux
System/Linux/Kernel/ramdisk.img
