<h1>coolder's HTTP server</h1>
<div>
    <h2>Already have an account?</h2>
<a href="https://localhost:3333/view/login.html" target=_blank>Login</a>
</div>

<div>
    <h2>Doesn't have an account?</h2>
    <a href="https://localhost:3333/view/create.html" target=_blank>Create account</a>
</div>

<div>
<h2>Draw gif?</h2>
<a href="https://localhost:3333/view/gif.html" target=_blank>GIF</a>
</div>

<div>
    <h2>Wanna upload a file?</h2>
    <a href="https://localhost:3333/view/upload.html" target=_blank>Upload a file</a>
</div>

<div>
    <h2>Wanna a webshell? Let's hack!</h2>
    <a href="https://localhost:3333/view/webshell.html" target=_blank>Get a webshell</a>
</div>

<div>
    <h2>Play games?</h2>
    <a href="https://localhost:3333/view/playground.html" target=_blank>Playground</a>
</div>
