<h1>Login</h1>
<form action="/login" method="POST">
    <label>Username:</label><br />
    <label>
        <input type="text" name="username">
    </label><br />
    <label>Password:</label><br />
    <label>
        <input type="password" name="password">
    </label><br />
    <input type="submit">
</form>

<h1>Doesn't have an account?</h1>
<a href="https://localhost:3333/view/create.html" target=_blank>Create account</a>
<h1>Go back home?</h1>
<a href="https://localhost:3333/" target=_blank>Home</a>
