<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.miliao.e035.release" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application android:allowBackup="true" android:appComponentFactory="android.support.v4.app.CoreComponentFactory" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.stub.StubApp" android:networkSecurityConfig="@xml/network_security_config" android:persistent="true" android:roundIcon="@mipmap/ic_launcher" android:sharedUserId="android.uid.system" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name="com.chat.ui.activity.WelcomeActivity" android:screenOrientation="portrait" android:theme="@style/StartAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:alwaysRetainTaskState="true" android:clearTaskOnLaunch="false" android:configChanges="orientation|screenSize" android:launchMode="singleTask" android:name="com.chat.ui.activity.MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:launchMode="singleTop" android:name="com.chat.ui.activity.RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.RegisterAndLoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.PersonalInformationActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ActivityGroupQRCodeCard" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ActivitySelectPersonToAdmin" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ActivitySetGroupAdmin" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.MorePersonDataActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.SelectRegionActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ActivityApplicationPlusGroup" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ActivityApplyGroupRemark" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ActivityGroupApplicationMessage" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ActivityRedGroupNcomeStatement" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ActivityAuditPlusGroup" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ActivitySelectForwardPerson" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.SearchNewFriendActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.DataModifyActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.AccountSecurityActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ActivityTransferAccounts" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ChangePassWordActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.send_msg_lib.activity.ChatActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.chat.ui.activity.AddFriendActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.SystemMessageActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.TransferDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.FriendCircleActivity" android:screenOrientation="portrait" android:theme="@style/FullAppTheme"/>
        <activity android:name="com.chat.ui.activity.ImagePagerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.FriendInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.SelectImageActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.NewFriendActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.FriendInfoMoreActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.FriendInfoSettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.PreviewImageActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.QRCodeCardActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.SettingBaiZhuBiaoQianActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.LocalPhoneNumberActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ChatDetailedInformationActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.SelectFriendActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.UpLoadHeadPicActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.UpLoadPangPicActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ClipImageActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.GroupChatListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.SearchGroupActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.GroupInformationActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ChatSendRedActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ActivityZxing" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ChatRedJILuActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ChatSelectCardActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.TongxunluhmdActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.OtherFriendCircleActivity" android:screenOrientation="portrait" android:theme="@style/FullAppTheme"/>
        <activity android:name="com.chat.ui.activity.WalletProfileActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ModifyGroupInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.AllGroupMemberActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.BigImgActivityPro" android:theme="@style/Theme.Swipe.Back.NoActionBar"/>
        <activity android:name="com.chat.ui.activity.BigImgActivity" android:theme="@style/Theme.Swipe.Back.NoActionBar"/>
        <activity android:name="com.chat.ui.activity.BillDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.AddressListSearchActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.DrawingPassWordActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ConfirmCoinPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.SettingWithdrawalPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ChatRedYiQiangActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.AboutActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.SelectPeopleToSendActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.GroupNoticeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ForwardingMessageActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.FindChatRecordingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.PublishingDynamicsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.HandlingFriendRequestsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.ShareDownloadUrlActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.MessageSearchActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.ui.activity.SelectAtPeopleActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.send_msg_lib.activity.RedGameActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:launchMode="singleTop" android:name="com.chat.hotgame.ui.activity.SplashActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.FullScreen"/>
        <activity android:launchMode="singleTop" android:name="com.chat.hotgame.ui.activity.LoginActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.RegActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.UpgradeRewardActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.ActivitySystemGameDetail" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.ScoreTradeActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.AddBankCardActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.OddsReportActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.RechargeListActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.AgentExplainActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.ZhuihaoActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateHidden"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.QuotaConversionActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.NoticeActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.UserTableSummaryActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.RechargeTypeActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.RechareInputActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.CashWithdrawalActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.PersonalDataActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.ChangePasswordActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.InitSafePassWordActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.BangdingActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.AvatarActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.BankCardManagerActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.SetsecretActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.UserGradeActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.UserTablesActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.LiveVideoTableActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.ActDetailActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.ActDetailActivityHuoDong" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.ZhongJiangJiLvActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.QuickOrderActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.KaJuanActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.AgentOpenAccountActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.AgentGamesActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.RedPackageDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.WebViewActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="platformapi.startapp.redeemcode" android:scheme="uplusgo"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.HotGameWebViewActivity" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.VerifyActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.hotgame.ui.activity.RechargeDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.hotgame.ui.activity.SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.hotgame.ui.activity.ShowTextActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.hotgame.ui.activity.AllTablesActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.hotgame.ui.activity.AgentTablesActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name="com.chat.hotgame.ui.activity.RankActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.hotgame.ui.activity.PlanListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.hotgame.ui.activity.SendRedPkgActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.hotgame.ui.activity.WanFaGuiZeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.hotgame.ui.activity.ShowImageActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.hotgame.ui.activity.VideoViewActity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.hotgame.ui.activity.DuLiHongBaoActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTop" android:name="com.chat.hotgame.ui.activity.WangZhanWeiHuActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.FullScreen"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.activity.AgentTabs2Activity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.custom.chatFolder.ui.EaseContextMenuActivity" android:screenOrientation="portrait" android:theme="@style/MyDialogStyle"/>
        <activity android:launchMode="singleTask" android:name="com.chat.hotgame.ui.custom.chatFolder.ui.PhotoViewActivity" android:screenOrientation="portrait" android:theme="@style/MyPhotoViewStyle"/>
        <activity android:name="com.chat.hotgame.ui.activity.ActPlayWayActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.chat.hotgame.ui.activity.HuodongActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:name="com.send_msg_lib.activity.VideoPlayerActivity" android:screenOrientation="portrait" android:theme="@style/FullAppTheme"/>
        <meta-data android:name="UMENG_APPKEY" android:value="5d89a6440cafb2fbd6000e8c"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="e035"/>
        <meta-data android:name="MTA_CHANNEL" android:value="e035"/>
        <meta-data android:name="design_width_in_dp" android:value="414"/>
        <meta-data android:name="design_height_in_dp" android:value="896"/>
        <meta-data android:name="android.max_aspect" android:value="2.4"/>
        <provider android:authorities="com.miliao.e035.release.provider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <receiver android:name="com.chat.hotgame.app.NetReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.zhaoss.weixinrecorded.activity.RecordedActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.zhaoss.weixinrecorded.activity.EditVideoActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name="com.zhaoss.weixinrecorded.activity.CutSizeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.zhaoss.weixinrecorded.activity.CutTimeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.nbsp.materialfilepicker.ui.FilePickerActivity" android:theme="@style/MFP_BaseTheme"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.uuzuche.lib_zxing.activity.CaptureActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider android:authorities="com.miliao.e035.release.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.luck.picture.lib.PictureFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <activity android:name="com.luck.picture.lib.PictureSelectorActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.luck.picture.lib.PicturePreviewActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.luck.picture.lib.PictureVideoPlayActivity" android:screenOrientation="sensor"/>
        <activity android:name="com.luck.picture.lib.PictureExternalPreviewActivity"/>
        <activity android:name="com.yalantis.ucrop.UCropActivity"/>
        <activity android:name="com.yalantis.ucrop.PictureMultiCuttingActivity"/>
        <activity android:name="com.luck.picture.lib.PicturePlayAudioActivity"/>
        <meta-data android:name="android.notch_support" android:value="true"/>
        <activity android:name="com.lxj.xpermission.XPermission$PermissionActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:multiprocess="true" android:name="com.blankj.utilcode.util.PermissionUtils$PermissionActivity" android:theme="@style/ActivityTranslucent" android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider android:authorities="com.miliao.e035.release.utilcode.provider" android:exported="false" android:grantUriPermissions="true" android:multiprocess="true" android:name="com.blankj.utilcode.util.Utils$FileProvider4UtilCode">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/util_code_provider_paths"/>
        </provider>
        <service android:name="com.blankj.utilcode.util.MessengerUtils$ServerService">
            <intent-filter>
                <action android:name="com.miliao.e035.release.messenger"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" android:value="GlideModule"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="rx_activity_result2.HolderActivity" android:theme="@style/Theme.Transparent"/>
        <provider android:authorities="com.miliao.e035.release.autosize-init-provider" android:exported="false" android:multiprocess="true" android:name="me.jessyan.autosize.InitProvider"/>
    </application>
</manifest>